body{
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    .main{
        // border: 1px solid white;
        position: fixed;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 700px;
        width: 100%;
        // border: 1px solid white;
        @media(max-width:414px){
            width: 100%;
            top: 20%;
        }

      .stopWatch{
        // border: 1px solid white;

          text-align: center;
          width: 100%;
          color: rgb(255, 255, 255);
          .timer{
              width: 100%;
              height: 100%;
              font-size: 100px;
              @media(max-width:414px){
               font-size: 80px;
            }
          }
      }
      .buttons{
          height: 75px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        //   border: 1px solid white;
          @media(max-width:414px){
              justify-content: space-between;
            //   height: 100px;
            height: 130px;
              flex-wrap: wrap;
        }
          .buttonContainer{
              box-sizing: border-box;
            //   border: 1px solid white;
              @media(max-width:414px){
               width: 50%;
               display: flex;
               justify-content: center;
              }
          }
          button{
              position: relative;
              height: 50px;
              width: 150px;
              outline: none;
              border: none;
              cursor: pointer;
              border-radius: 10px;
              border: 1px solid white;
              font-size: 25px;
              background-color: transparent;
              color: white;
              transition: .2s linear all;
              overflow: hidden;
            
              @media(max-width:414px){
                font-size: 20px;
                width: 80%
            }
            
            
          }
          button.buttonActive{
            @media(max-width:414px){
              width: 145px;
          }
          }
          // button::after{
          //     content: "";
          //     position: absolute;
          //     bottom: -100%;
          //     left: 0%;
          //     width: 100%;
          //     height: 100%;
          //     background-color: white;
          //     transition: .1s linear all;
          //     z-index: -99999;
          // } 
          // button:hover::after{
          //     bottom: 0;
          // }
          // button:hover{
          //     // color: black;
          //     // transform: scale(.97);
          //     // width: 145px;
          // }
      }
      .score-box{
        color: white;
        position: absolute;
        overflow-y:auto ;
        max-width: 300px;
        width: 100%;
        max-height: 320px;
        top: 110%;
        left: 50%;
        transform: translateX(calc(-50% + 15px));
        display: flex;
        justify-content: space-between;
        @media(max-width:414px){
            max-height: 500px;
        }
        .score{
          width: 90%;
          div{
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            span{
                color: white;
                font-size: 30px;
                transition: .3s;
            }
            .spanOn{
                color: rgb(130, 241, 115);
            }
          }
        }
        .delete{
          width: 10%;
          div{
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
              cursor: pointer;
              font-size: 20px;
              color: rgb(190, 177, 177);
              transition: .3s linear all;
            }
            span:hover{
              color: rgb(230, 86, 86);

            }
          }
        }
    }
    .scores::-webkit-scrollbar{
        width: 5px;
        background-color: darkgrey;
    }
    .scores::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
      .scores::-webkit-scrollbar-thumb {
        background-color: white;
        outline: 1px solid rgba(162, 167, 172, 0.753);
      }
    }
   
   
}