body{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color:black;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    .main{
        position: fixed;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 700px;
        width: 100%;
        @media(max-width:414px){
            width: 100%;
            top: 20%;
        }

      .stopWatch{
          text-align: center;
          width: 100%;
          color: rgb(255, 255, 255);
          .timer{
              width: 100%;
              height: 100%;
              font-size: 100px;
              @media(max-width:414px){
               font-size: 80px;
            }
          }
      }
      .buttons{
          height: 75px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          @media(max-width:414px){
            justify-content: center;
            height: 200px;
            flex-wrap: wrap;
        }
          .buttonContainer{
              box-sizing: border-box;
              @media(max-width:414px){
               width: 70%;
               display: flex;
               justify-content: center;
              }
          }
          button{
              position: relative;
              height: 50px;
              width: 200px;
              outline: none;
              border: none;
              cursor: pointer;
              border-radius: 5px;
              border: 1px solid white;
              font-size: 25px;
              background-color: transparent;
              color: white;
              overflow: hidden;
              @media(max-width:414px){
                font-size: 20px;
                width: 100%;
                border-radius: 10px;
            }
          }
          button.buttonActive{
            @media(max-width:414px){
              width: 145px;
          }
          }
      }
      .score-box{
        color: white;
        position: absolute;
        overflow-y:auto ;
        max-width: 300px;
        width: 100%;
        max-height: 320px;
        top: 110%;
        left: 50%;
        transform: translateX(calc(-50% + 15px));
        display: flex;
        justify-content: space-between;
        @media(max-width:414px){
            max-height: 350px;
        }
        .score{
          width: 90%;
          div{
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            span{
                color: white;
                font-size: 30px;
                transition: .3s;
            }
            .spanOn{
                color: rgb(130, 241, 115);
            }
            .spanOnDel{
              text-decoration: line-through;
          }
          }
        }
        .delete{
          width: 10%;
          div{
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
              cursor: pointer;
              font-size: 20px;
              color: rgb(190, 177, 177);
              transition: .3s linear all;
            }
            span:hover{
              color: rgb(230, 86, 86);
              @media(max-width:414px){
                color: rgb(190, 177, 177);
              }
            }
          }
        }
    }
    .score-box::-webkit-scrollbar{
      width: 1px;
      background-color:black;
  }
    .score-box::-webkit-scrollbar-thumb {
      background-color: white;
    }
    }
}